!! ~/.Xresources

!!
!! rxvt-unicode (urxvt)
!!

URxvt.geometry:             96x32
URxvt.scrollBar_right:      true
URxvt.scrollBar_floating:   true
URxvt.scrollstyle:          plain
URxvt.cursorBlink:          true
URxvt.cursorUnderline:      true
URxvt.pointerBlank:         true
URxvt.visualBell:           true
URxvt.saveLines:            3000
URxvt.fading:               40

!! Font list and Spacing
URxvt.font:                 xft:JetBrainsMono:size=11:antialias=true
URxvt.letterSpace:           0
!URxvt.lineSpace:            0

!! Color Scheme and Opacity
!! Eighties(dark) from terminal.sexy
! special
URxvt.foreground:   #EEEBE2
URxvt.background:   #2D2D2D
URxvt.cursorColor:  #c6c8d1

! black
URxvt.color0:       #2d2d2d
URxvt.color8:       #EEEBE2

! red
URxvt.color1:       #F2777A
URxvt.color9:       #F2777A

! green
URxvt.color2:       #99CC99
URxvt.color10:      #99CC99

! yellow
URxvt.color3:       #FFCC66
URxvt.color11:      #FFCC66

! blue
URxvt.color4:       #6699CC
URxvt.color12:      #6699CC

! magenta
URxvt.color5:       #CC99CC
URxvt.color13:      #CC99CC

! cyan
URxvt.color6:       #66CCCC
URxvt.color14:      #66CCCC

! white
URxvt.color7:       #D3D0C8
URxvt.color15:      #D3D0C8

!!
!! rofi
!!

rofi.font:	JetBrainsMono 12

